batch*
*txt
./TG_S0/vtuoutputs/*vtu
./TG_S1/vtuoutputs/*vtu
./TG_S1/results/*
./TG_S1p5/results/*
./TG_S1/vtuoutputs/*vtu
./TG_S2/vtuoutputs/*vtu
./TG_S0/old/*
./TG_S1/old/*
./TG_S1p5/old/*
./TG_S2/old/*
./TG_S2/*.result
./TG_S2/results/*
./TG_S3/*.result
./TG_S3/results/*
./TG_S3/vtuoutputs/*vtu
./TG_S4/vtuoutputs/*vtu
./TG_S4/*result*
./TG_S4/*dat
old/*
PROG/*
Mesh/*
./TG_S0/ELMERSTART*
./TG_S1/ELMERSTART*
./TG_S1/ELMERSTART*
./TG_S2/ELMERSTART*
./TG_S3/ELMERSTART*
./TG_S4/ELMERSTART*
*'#'*
*~
*result*
./mesh2D_TG_refpart/partitioning.128/*part*
./mesh2D_TG_refpart/partitioning.128/*
*vtu
*.so
*.F90
*.result